In [2]:
import pandas as pd

In [ ]:
def preprocessing(): 
    ''' fungsi untuk membersihkan data
    
    '''
    # pembisihan data
    data = pd.read_csv("E:\HCK18\Milestone 3\p2-ftds018-hck-m3-herurmdn7\P2M3_Heru_data_raw_testtest.csv")

    # bersihkan data 
    data.drop_duplicates(inplace=True)

In [1]:
def preprocessing(): 
    ''' Function to clean data '''
    
    # Load the data
    data = pd.read_csv("E:\HCK18\Milestone 3\p2-ftds018-hck-m3-herurmdn7\P2M3_Heru_data_raw_testtest.csv")

    # Drop duplicates
    data.drop_duplicates(inplace=True)

    

    # Clean column names: lowercase, replace spaces with underscores, remove unnecessary characters
    data.columns = data.columns.str.lower().str.replace(' ', '_').str.replace(r'[^a-zA-Z0-9_]', '')

    # Drop rows with missing values
    data.dropna(inplace=True)\
    
    data.to_csv('E:\HCK18\Milestone 3\p2-ftds018-hck-m3-herurmdn7\P2M3_Heru_data_raw_testtest_clean1.csv', index=False)

In [ ]:
import pandas as pd

def preprocessing(): 
    ''' Function to clean data '''
    
    # Load the data
    data = pd.read_csv("E:\HCK18\Milestone 3\p2-ftds018-hck-m3-herurmdn7\P2M3_Heru_data_raw_testtest.csv")

    # Drop duplicates
    data.drop_duplicates(inplace=True)

    # Drop rows with missing values
    data.dropna(inplace=True)

    # Clean column names step by step
    
    # Step 1: Convert all column names to lowercase
    data.columns = data.columns.str.lower()
    # This ensures all column names are in lowercase to avoid case-sensitivity issues.

    # Step 2: Replace spaces with underscores
    data.columns = data.columns.str.replace(' ', '_')
    # This replaces any spaces in the column names with underscores, making them more uniform and easier to reference.

    # Step 3: Remove any tab (\t) and newline (\n) characters from the column names
    data.columns = data.columns.str.replace(r'[\t\n]', '')
    # This removes any accidental tab or newline characters from column names, which could have been introduced during data entry.

    
    # Save cleaned data to a new CSV file
    data.to_csv('E:\HCK18\Milestone 3\p2-ftds018-hck-m3-herurmdn7\P2M3_Heru_data_raw_testtest_clean1.csv', index=False)

In [7]:
preprocessing()

In [3]:
dfkotor = pd.read_csv('E:\HCK18\Milestone 3\p2-ftds018-hck-m3-herurmdn7\P2M3_Heru_data_raw_testtest.csv')
dfkotor.head(5)

,Location,Total Land Area (acres),Number of Cows,Farm Size,Date,Product ID,Product Name,Brand,Quantity (liters/kg),Price per Unit,...,Production Date,Expiration Date,Quantity Sold (liters/kg),Price per Unit (sold),Approx. Total Revenue(INR),Customer Location,Sales Channel,Quantity in Stock (liters/kg),Minimum Stock Threshold (liters/kg),Reorder Quantity (liters/kg)
0,Telangana,310.84,96,Medium,2022-02-17,5,Ice Cream,Dodla Dairy,222.40,85.72,...,2021-12-27,2022-01-21,7,82.24,575.68,Madhya Pradesh,Wholesale,215,19.55,64.03
1,Uttar Pradesh,19.19,44,Large,2021-12-01,1,Milk,Amul,687.48,42.61,...,2021-10-03,2021-10-25,558,39.24,21895.92,Kerala,Wholesale,129,43.17,181.10
2,Tamil Nadu,581.69,24,Medium,2022-02-28,4,Yogurt,Dodla Dairy,503.48,36.50,...,2022-01-14,2022-02-13,256,33.81,8655.36,Madhya Pradesh,Online,247,15.10,140.83
3,Telangana,908.00,89,Small,2019-06-09,3,Cheese,Britannia Industries,823.36,26.52,...,2019-05-15,2019-07-26,601,28.92,17380.92,Rajasthan,Online,222,74.50,57.68
4,Maharashtra,861.95,21,Medium,2020-12-14,8,Buttermilk,Mother Dairy,147.77,83.85,...,2020-10-17,2020-10-28,145,83.07,12045.15,Jharkhand,Retail,2,76.02,33.40

In [9]:
dfbersih = pd.read_csv('E:\HCK18\Milestone 3\p2-ftds018-hck-m3-herurmdn7\P2M3_Heru_data_raw_testtest_clean1.csv')
dfbersih.head(5)

,location,total_land_area_(acres),number_of_cows,farm_size,date,product_id,product_name,brand,quantity_(liters/kg),price_per_unit,...,production_date,expiration_date,quantity_sold_(liters/kg),price_per_unit_(sold),approx._total_revenue(inr),customer_location,sales_channel,quantity_in_stock_(liters/kg),minimum_stock_threshold_(liters/kg),reorder_quantity_(liters/kg)
0,Telangana,310.84,96,Medium,2022-02-17,5,Ice Cream,Dodla Dairy,222.40,85.72,...,2021-12-27,2022-01-21,7,82.24,575.68,Madhya Pradesh,Wholesale,215,19.55,64.03
1,Uttar Pradesh,19.19,44,Large,2021-12-01,1,Milk,Amul,687.48,42.61,...,2021-10-03,2021-10-25,558,39.24,21895.92,Kerala,Wholesale,129,43.17,181.10
2,Tamil Nadu,581.69,24,Medium,2022-02-28,4,Yogurt,Dodla Dairy,503.48,36.50,...,2022-01-14,2022-02-13,256,33.81,8655.36,Madhya Pradesh,Online,247,15.10,140.83
3,Telangana,908.00,89,Small,2019-06-09,3,Cheese,Britannia Industries,823.36,26.52,...,2019-05-15,2019-07-26,601,28.92,17380.92,Rajasthan,Online,222,74.50,57.68
4,Maharashtra,861.95,21,Medium,2020-12-14,8,Buttermilk,Mother Dairy,147.77,83.85,...,2020-10-17,2020-10-28,145,83.07,12045.15,Jharkhand,Retail,2,76.02,33.40